<h1>Libraries</h1>

<%= current_user.email %> <br>
<%= current_user.first_name %>
<%= current_user.last_name %><br>

<%= link_to('Logout', destroy_user_session_path, method: :delete) %><br><br>
<%= link_to('Add Library', libraries_new_path) %><br><br>

<table> 
  <tr>
    <th> Name </th>
    <th> Address </th>
    <th> Description</th>
    <th> Clients</th>
    <th> View </th>
  </tr>
  <% @libraries.each do |library| %>
    <tr>
      <td><%= library.name %></td>
      <td><%= library.address %></td>
      <td><%= library.description %></td>
      <td>Clients<td>
      <td><%= link_to "View Library", library_path(library) %></td>
    </tr> 
  <% end %>
</table>